@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  padding: 3rem;
  background-color: #181510;
  color: #785F37;
}

.heading_primary-main {
  color: #E9DBBD;
  text-transform: uppercase;
  display: block;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 4rem;
  animation: moveInRight 0.6s ease-in;
  animation-delay: 0.2s;
}

.heading_primary-sub {
  color: #CBB682;
  display: block;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.48rem;
  animation: moveInLeft 0.6s ease-in;
  animation-delay: 0.2s;
  margin-right: 3.5rem;
  margin-bottom: 2rem;
}

.heading_text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading_secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #A08C5B, #181510);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading_secondary:hover {
  transform: skewY(2deg) skewX(-2deg) scale(1.2);
  text-shadow: 0.2rem 1rem 2rem rgba(24, 21, 16, 0.2);
}

.heeading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #181510;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.section_about {
  background-color: #E9DBBD;
  padding: 20rem 0 15rem 0;
  margin-top: -20vh;
  height: 100rem;
}

.section_features {
  padding: 23rem 0;
  background-image: linear-gradient(to top right, #0a0000, rgba(203, 182, 130, 0.4)), url("../images/section3.png");
  background-size: cover;
  height: 100vh;
  margin-top: -9.5rem;
  transform: skewY(-7deg);
  height: 80rem;
}
.section_features > * {
  transform: skewY(7deg);
}

.section_tours {
  background-color: #E9DBBD;
  padding: 15rem 0 30rem 0;
  margin-top: -8.5rem;
}

.cta:link, .cta:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.cta-gold {
  background-color: #E9DBBD;
  color: #181510;
}

.cta::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.cta-gold::after {
  background-color: #E9DBBD;
}

.cta:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.cta:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.cta:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.cta-animated {
  animation: moveInBottom 0.3s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.cta-text:link, .cta-text:visited {
  font-size: 1.6rem;
  color: #181510;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #181510;
  padding: 3px;
  transition: all 0.2s;
}
.cta-text:hover {
  background-color: #181510;
  width: 11rem;
  color: #E9DBBD;
  box-shadow: 0 1rem 2rem rgba(24, 21, 16, 0.15);
  transform: translateY(-2px);
}
.cta-text:active {
  box-shadow: 0 0.5rem 1rem rgba(24, 21, 16, 0.15);
  transform: translateY(0);
}

.header {
  height: 95vh;
  background-image: linear-gradient(to top right, #0a0000, rgba(203, 182, 130, 0.4)), url("../images/skull2.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 3rem;
  left: 4rem;
}

.logo {
  height: 5rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col] {
  float: left;
}
.row [class^=col]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.composition {
  position: relative;
}
.composition_photo {
  height: 200px;
  box-shadow: 0 1.5rem 4rem rgba(24, 21, 16, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.composition_photo--p1 {
  left: 5%;
  top: -2rem;
}
.composition_photo--p2 {
  right: 12rem;
  top: 2rem;
}
.composition_photo--p3 {
  left: 20%;
  top: 14rem;
}
.composition_photo:hover {
  outline: 1.5rem solid #785F37;
  outline-style: outset;
  transform: scale(1.5);
  box-shadow: 0 2.5rem 4rem rgba(24, 21, 16, 0.7);
  z-index: 2;
}
.composition:hover .composition_photo:not(:hover) {
  transform: scale(0.8);
}

.feature-box {
  background-color: rgba(233, 219, 189, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(24, 21, 16, 0.15);
  transition: transform 0.3s;
}
.feature-box_icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #A08C5B, #181510);
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.1);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card_side {
  height: 50rem;
  transition: all 0.6s ease;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0 2rem 4rem rgba(24, 21, 16, 0.5);
}
.card_side-front {
  background-image: linear-gradient(to right top, #785F37, #E9DBBD);
}
.card_side-back {
  transform: rotateY(180deg);
}
.card_side-back-1 {
  background-image: linear-gradient(to left bottom, #E9DBBD, #785F37);
}
.card_side-back-2 {
  background-image: linear-gradient(to left bottom, #E9DBBD, #785F37);
}
.card_side-back-3 {
  background-image: linear-gradient(to left bottom, #E9DBBD, #785F37);
}
.card:hover .card_side-front {
  transform: rotateY(-180deg);
}
.card:hover .card_side-back {
  transform: rotateY(0);
}
.card_picture {
  background-size: cover;
  height: 32rem;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}
.card_picture-1 {
  background-image: linear-gradient(to right top, #E9DBBD, #785F37), url("../images/tour1.png");
  background-blend-mode: saturation;
}
.card_picture-2 {
  background-image: url("../images/tour2.png");
}
.card_picture-3 {
  background-image: linear-gradient(to right top, #E9DBBD, #785F37), url("../images/tour3.png");
  background-blend-mode: saturation;
}
.card_heading {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #E9DBBD;
  position: absolute;
  top: 30rem;
  right: 2rem;
  background-color: black;
  width: 15rem;
  text-align: center;
}
.card_details {
  padding: 3rem;
}
.card_details ul {
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
}
.card_details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #181510;
}
.card_details ul li:not(:last-child) {
  border-bottom: 1px solid #785F37;
}
.card_cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  width: 150px;
}
.card_price-box {
  text-align: center;
  margin-bottom: 8rem;
  color: #785F37;
}
.card_price-only {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #181510;
}
.card_price-value {
  font-size: 2.4rem;
  font-weight: 100;
}

/*# sourceMappingURL=style.css.map */
