.section_about {
    background-color: $whiteGold;
    padding: 20rem 0 15rem 0;
    margin-top: -20vh;
    height: 100rem;
}

.section_features {
    padding: 23rem 0;
    background-image: linear-gradient(
        to top right, 
        rgb(10, 0, 0, 1),
        rgb(203, 182, 130, 0.4)), 
        url('../images/section3.png');
        background-size: cover;
        height: 100vh;
        margin-top: -9.5rem;

    transform: skewY(-7deg);
    height: 80rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section_tours {
    background-color: $whiteGold;
    padding: 15rem 0 30rem 0;
    margin-top: -8.5rem;
}