//Colors
$myblack: #181510;
$darkGold: #785F37;
$gold: #A08C5B;
$lightGold: #CBB682;
$whiteGold: #E9DBBD;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font size
$defaultFont: 1.6rem; 